* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  
  background-color: black;
}
#main{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#temparature{
  font-size: 5rem;
  text-align: center;
  margin-top: 20px;
  color: red;
}
.label{
color: yellow;
font-size: 2rem;
}
.input{
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 900;
  border: 2px solid blue;
}
/* Style the input field as text */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Hide the spinner arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#button{
  padding: 20px;
  border-radius: 20px;
  color: red;
  font-weight: 900;
  font-size: 20px;
}
#result{
  color: red;
  font-size: 20px;
  font-weight: 900;
}
p{
  color: red;
  font-size: 20px;
  font-weight: 900;
}